.cms-content.PopupLeftAndMain {
  overflow-y: scroll;
}

.cms-content-header-tabs {
  display:none;
}


.cms-content-controls.south {
  height: 32px;
  position: absolute;
  width: calc(100% - 180px);
  bottom: 0;
  overflow-x: hidden;
}

/*
.flexbox-area-grow {
  padding-bottom: 132px;
}
*/

.PopupLeftAndMain .cms-edit-form {
  padding-bottom: 15px;
}
